body {
  margin: 0;
  padding: 0;
}

#game {
  height: 600px;
  width: 800px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#menu-js {
  height: inherit;
  width: inherit;

  background: #00000099;
}

.menu-js__text {
  color: #ffe;
}
